<html>
<body>
<h3>Здравствуйте, ${fullName}!</h3>
<div>
    <strong>Ваш логин:</strong> ${login}<br/>
    <strong>Ваш пароль:</strong> ${password}<br/>
</div>
<div>Enjoy!</div>
<div>
    <a href="http://onoffline.ru/">http://onoffline.ru/</a>
</div>
</body>
</html>